h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 85%;
    text-align: justify;
    padding: 1em;
}

.navbar-brand {
    padding-left: 1.5em;
}

li {
    padding-left: 7.5em;

}